:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.category-card {
  border: 1px solid #e5e7eb; /* 枠線（薄いグレー） */
  border-radius: 0.5rem;      /* 角丸 */
  padding: 1rem;              /* 内側の余白 */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); /* 影 */
  margin-bottom: 1rem;        /* 下の余白 */
}

.force-bg-gray {
  background-color: #839be9 !important; 
}

.force-bg-gray:hover {
  background-color:  #494993 !important; 
}

.sticky-header {
  position: sticky; /* スクロールに追従させる */
  top: 0;           /* 画面の一番上に固定する */
  
  background-color: #f0f0f0; /* 背景色 */
  padding: 1rem;              /* 内側の余白 */
  z-index: 10;                /* 他の要素より手前に表示させる */
  
  /* コンテンツとの境界を明確にするための影（任意） */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.article-image {
  /* --- スマホでの表示（デフォルト） --- */
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto; /* 高さは自動調整 */
  border-radius: 0.5rem; /* 角丸 */
}

/* --- PCでの表示（画面幅が768px以上の場合） --- */
@media (min-width: 768px) {
  .article-image {
    width: 50%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
